body {
    background-color: #A1887F;
}

.well {
    margin: 5vh;
}

img {
    max-width: 15vw;
    max-height: 15vw;
}

.stream_status {
    display: inline;
}

div.row {
    margin-bottom: 5vh;
}

h1.text-center {
    font-size: 9vh;
}
